<h1>Listing assessments</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Behavior</th>
      <th>User mark</th>
      <th>Master mark</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @assessments.each do |assessment| %>
      <tr>
        <td><%= assessment.user_id %></td>
        <td><%= assessment.behavior_id %></td>
        <td><%= assessment.user_tick %></td>
        <td><%= assessment.master_tick %></td>
        <td><%= link_to 'Show', assessment %></td>
        <td><%= link_to 'Edit', edit_assessment_path(assessment) %></td>
        <td><%= link_to 'Destroy', assessment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Assessment', new_assessment_path %>
