<h1>Отчеты о проведенных оценках сотрудников</h1>

<%= form_for :user, url: {controller: "assessments", action: "set_user"}, html: {id: 'set_user_form'} do |f| %>
  <%= f.label 'Cотрудник ' %>
  <% if session[:user_id].nil? %>
    <%= f.collection_select :user_id, User.all, :id, :name, include_blank: false %>
  <% else %>
    <%= f.collection_select :user_id, User.all, :id, :name, selected: session[:user_id], include_blank: false %>
  <% end %>
  <%= f.submit 'Выбрать'%>
<% end %>

<% unless session[:user_id].nil? %>

  <table>
    <tr><td>Сотрудник:</td><td><strong><%= User.find(session[:user_id]).name %></strong></td></tr>
    <tr><td>Должность:</td><td><strong><%= Position.find(session[:position_id]).title %></strong></td></tr>
    <tr><td>Уровень:</td>  <td><strong><%= Level.find(session[:level_id]).title %></strong></td></tr>
  </table>

  <% Cluster.all.each do |cluster| %>
    <% competencies = Competency.where(position_id: session[:position_id], cluster_id: cluster.id)%>
      <% if competencies.count > 0 %>
        <h2>Блок компетенций: <%= cluster.title %> </h2>
        <% competencies.each do |competency| %>
          <h3>Компетенция: <%= competency.title %></h3>
          <% behaviors = Behavior.where(competency_id: competency.id, level_id: session[:level_id]) %>
          <% if behaviors.count > 0 %>
            <table class="ztTable">
              <% behaviors.each do |behavior| %>
                <tr>
                  <td class="descr"><%= behavior.description %></td>
                  <td class="cb"><%= image_tag("checkmark.png", :size => "21x23", :alt => "Checked") if @assessments.where(behavior_id: behavior.id).first.master_tick == true %></td>

                </tr>
              <% end %>   <%# behaviors Loop %>
            </table>
          <% end %>       <%# IF behaviors.count END %>
        <% end %>         <%# competencies Loop %>
      <% end %>           <%# IF competencies.count END %>
    <% end %>             <%# Cluster Loop %>
<% end %>                 <%# UNLESS session[:user_id] END %>