<p id="notice"><%= notice %></p>

<h1>Просмотр Поведенческого индикатора</h1>

<p>
  <strong>Блок компетенций: </strong>
  <%= @behavior.competency.cluster.title %>
</p>
<p>
  <strong>Компетенция: </strong>
  <%= @behavior.competency.title %>
</p>

<p>
  <strong>Должность: </strong>
  <%= @behavior.competency.position.title %>
</p>

<p>
  <strong>Уровень: </strong>
  <%= @behavior.level.title %>
</p>

<p>
  <strong>Name:</strong>
  <%= @behavior.name %>
</p>

<p>
  <strong>Описание:</strong>
  <%= @behavior.description %>
</p>

<%= link_to 'Редактировать', edit_admin_behavior_path(@behavior) %> |
<%= link_to 'Назад', admin_behaviors_path %>
