<h1>Просмотр блока компетенций</h1>
<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @cluster.name %>
</p>

<p>
  <strong>Название:</strong>
  <%= @cluster.title %>
</p>

<%= link_to 'Редактировать', edit_admin_cluster_path(@cluster) %> |
<%= link_to 'Назад', admin_clusters_path %>
