<h1>Матрица компетенций </h1>
<table class="ztTable">
  <thead>
    <th>Кластер компетенций</th>
    <th><%= @positions[0] %></th>
    <th><%= @positions[1] %></th>
    <th><%= @positions[2] %></th>
    <th><%= @positions[3] %></th>
  </thead>
  <tbody>
    <% @clusters.each do |cluster| %>
      <% rows = @matrix[cluster.name].count %>
      <tr>
        <td rowspan='<%= rows %>'><%= cluster.title %></td>
          <% @matrix[cluster.name].each do |row| %>
            <td><%= row.last.include?('seller') ? row.first : '' %></td>
            <td><%= row.last.include?('dept_manager') ? row.first : '' %></td>
            <td><%= row.last.include?('sector_head') ? row.first : '' %></td>
            <td><%= row.last.include?('store_director') ? row.first : '' %></td>
          </tr>
      <% end %>   <%# Competency Loop%>
    <% end %>     <%# Cluster Loop%>
  </tbody>
</table>