<h1>Поведенческие индикаторы</h1>
<table>
  <tr>
    <td>Кластер компетенций: </td>
    <td><strong><%= @cluster.title %></strong></td>
  </tr>
  <tr>
    <td>Компетенция: </td>
    <td><strong><%= @competency.title %></strong></td>
  </tr>
  <tr>
    <td>Должность: </td>
    <td><strong><%= @position.title %></strong></td>
  </tr>
</table>

<div class="coda-slider"  id="slider-id">
  <% @levels.each do |level| %>
    <div>
      <h2 class="title"><%= level.title %> </h2>
      <% @behaviors[level.name].each do |behavior| %>
        <p><%= behavior.description %></p>
      <% end %>
    </div>
  <% end %>
</div>
