<%
################################################################################
#   The form updated:
#     - DDLs, applicable for both actions:  New and Edit
################################################################################
%>
<%= form_for([:admin, @user]) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

   <div class="field">
    <%= f.label 'Фамилия: ' %>
    <%= f.text_field :last_name %>
  </div>

  <div class="field">
    <%= f.label 'Имя: ' %>
    <%= f.text_field :first_name %>
  </div>

  <div class="field">
    <%= f.label 'Должность: ' %>
    <% if params[:id].nil? %>     <%# Case: New %>
      <%= f.collection_select :position_id, @positions, :id, :title, include_blank: false %>
    <% else %>                    <%# Case: Edit %>
      <%= f.collection_select :position_id, @positions, :id, :title, selected: @user.position_id, include_blank: false %>
    <% end %>
  </div>

  <div class="field">
    <%= f.label 'Уровень компетенции: ' %>
    <% if params[:id].nil? %>     <%# Case: New %>
      <%= f.collection_select :level_id, @levels, :id, :title, include_blank: false %>
    <% else %>                    <%# Case: Edit %>
      <%= f.collection_select :level_id, @levels, :id, :title, selected: @user.level_id, include_blank: false %>
    <% end %>
  </div>

  <div class="actions">
    <%= f.submit "Сохранить" %>
  </div>
<% end %>
