<!DOCTYPE html>
<html>
<head>
  <title>Lmc</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
    <%#= favicon_link_tag  '/assets/ror.ico' %>
    <%= link_to image_tag('/assets/leroy_merlin.png', alt: 'Leroy Merlin', title: 'На главную'), url_for(controller: :pages, action: :home) %>
    <h1>Модель компетенций</h1>
    <h2>Демонстрационный модуль</h2>
  </header>

  <nav id="top">
    <ul>
      <li><%= link_to 'Обзор модели', '/pages/review' %></li>
      <li><%= link_to 'Оценка',       '/assessments' %></li>
      <li><%= link_to 'Отчетность',   '/reports' %></li>
      <li><%= link_to 'Админка',      '/admin/panel' %></li>
    </ul>
  </nav>

<%= yield %>

</body>
</html>
